/* ----------------------------------- */
/* BASIC SETUP */
/* ----------------------------------- */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    background-color: #fff;
    color: rgb(51, 51, 51);
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix::after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/*-------HEADINGS--------*/

h1, 
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}


h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/*-------PARAGRAPHS--------*/

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/*-------ICONS--------*/

.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 15px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;

    /*secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/*-------LINKS-------*/

a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    transition: color 0.2s, border-bottom 0.2s;
}

a:hover,
a:active {
    color: rgb(51, 51, 51);
    border-bottom: 1px solid transparent;
}


/*-------BUTTONS-------*/

.btn:link, 
.btn:visited, 
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: white;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover, 
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active,
input[type=submit] {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: white;
}

/* ----------------------------------- */
/* HEADER */
/* ----------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;  /*We need the border to exist before we hover it, but we dot want to see it so we make it transparent, so it wont be visible until we hover it. */
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/* ----------------------------------- */
/* FEATURES */
/* ----------------------------------- */

.section-features .long-copy {
    margin-bottom: 3%;
}

/* ----------------------------------- */
/* MEALS */
/* ----------------------------------- */

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%; /*defining width 100% because it should occupy the 100% of the 25% width given to the li element*/
    margin: 0; /*we already set the margin to 0 initially for elements they why again, coz the normalize.css defines some margin for elements so we need to overwrite it*/
    overflow: hidden;
    background-color: black;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.03);

}


/* ----------------------------------- */
/* HOW IT WORKS */
/* ----------------------------------- */

.steps-box {
    margin-top: 30px;
}

.section-steps {
    background-color: rgb(242, 242, 242);
}

.steps-box:first-child {
    text-align: right; /*although we dont have any text in this div the text align property works on all inline and inline-block elements*/
    padding-right: 3%;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    float: left; /*taking the float as left will change the display type to block even if it has been declared as inline-block*/
    font-size: 150%;
    margin-right: 25px;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}


/* ----------------------------------- */
/* CITIES */
/* ----------------------------------- */

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}


/* ----------------------------------- */
/* TESTIMONIALS */
/* ----------------------------------- */

.section-testimonials {
    background-image:linear-gradient(rgba(0, 0, 0, 0.802), rgba(0, 0, 0, 0.802)), url(../css/images/back-customers.jpg);
    background-size: cover;
    color: white;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote::before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute; /* when we position an element as absolute we need to position its parent as relative, if this isnt done the absolute positioned element will have no positioned ancestors and then it will use the doc body and moves along with page scrolling*/
    top: -5px;
    left: -5px;
}

cite {
    display: block;
    font-size: 90%;
    margin-top: 25px;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}


/* ----------------------------------- */
/* SIGN UP */
/* ----------------------------------- */

.section-plans {
    background-color: rgb(242, 242, 242);
}

.plan-box{
    background-color: white;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px rgb(214, 214, 214);
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.plan-box div:first-child {
    background-color: rgb(250, 250, 250);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}

.plan-price {
    font-size: 300%;
    font-weight: 100;
    margin-bottom: 10px;
    color: #e67e22;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}


/* ----------------------------------- */
/* FORM */
/* ----------------------------------- */

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email], 
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid rgb(209, 209, 209);
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {outline: none;}


/* ----------------------------------- */
/* FOOTER */
/* ----------------------------------- */

footer {
    background-color: rgb(51, 51, 51);
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0; /*since all the usual links are set to have a border bottom*/
    color: #888888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #dddddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.facebook,
.twitter,
.google,
.instagram {
    transition: color 0.2s;
}

.facebook:hover {
    color: #3b5998;
}

.twitter:hover {
    color: #55acee;
}

.google:hover {
    color: #dd4b39;
}

.instagram:hover {
    color: #e95950;
}

footer p {
    color: #888888;
    text-align: center;
    margin-top: 20px;
}